[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
  display: none !important;
}

ng\:form {
  display: block;
}

html, body{
  height: 100%;
  margin: 0px;
}
body {
  padding: 25px 5px 5px 5px;
}
.breadcrumb {
  background-color: #E9E9E9;
  margin-bottom: 10px;
}
.main {
  min-height: 100%;
  position: relative;
}
textarea.form-control {
  margin-top: 5px;
  resize: none;
  height: 460px;
}
.footer {
  position: relative;
  z-index: 10;
  margin-top: -20px;
  clear: both;
}
.preview {
  overflow:auto;
}
.navbar {
  margin-bottom: 5px;
}
#title {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 24px;
  background-color: #3A3D3D;
  color: #FFF;
  -webkit-app-region: drag;
}
#title img {
  margin-left: 10px;
}
.close {
  width: 30px;
  color: #FFF;
  -webkit-app-region: no-drag;
}
