<!DOCTYPE html>
<html ng-app="mdtext" ng-csp>
  <head>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/index.min.css" rel="stylesheet"/>
    <title>MdText</title>
  </head>
  <body ng-controller="MdTextCtrl" class="ng-hide" ng-show="show">
    @@include('htm/header.htm', {})
    <div class="main">
      <ol class="breadcrumb">
        <li>
          <div class="btn-group">
            <button class="btn btn-default" ng-click="new()">
              <i class="glyphicon glyphicon-file"></i>
            </button>
            <button class="btn btn-default" ng-click="open()">
              <i class="glyphicon glyphicon-folder-open"></i>
            </button>
            <button class="btn btn-default">
              保存
            </button>
          </div><!-- btn-group -->
          <div class="btn-group">
            <button class="btn btn-default"
            ng-model="isPreview" btn-checkbox>
              <i class="glyphicon glyphicon-zoom-in"></i>
            </button>
          </div><!-- btn-group -->
        </li>
      </ol>
      <div class="row">
        <div ng-show="isEdit"
        ng-class="{'col-xs-6':isLivePreview, 'col-xs-12':!isLivePreview}">
          <textarea class="form-control" id="input"
          ng-model="input"></textarea>
        </div>
        <div ng-show="isPreview"
        ng-class="{'col-xs-6':isLivePreview, 'col-xs-12':!isLivePreview}">
          <div id="preview" class="preview form-control"
          ng-bind-html="output"></div>
        </div>
      </div>
    </div><!-- main -->
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-sanitize.min.js"></script>
    <script src="js/hotkey.min.js"></script>
    <script src="js/markdown.js"></script>
    <script src="js/ui-bootstrap-tpls.min.js"></script>
    <script src="js/google-analytics-bundle.js"></script>
    <script src="js/main.min.js"></script>
  </body>
</html>
